In [31]:
# pip install alpha_vantage

In [44]:
import requests
key = "4TDQ3TAK1A574B32"
zz
# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
# url = 'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=IBM&interval=5min&apikey=4TDQ3TAK1A574B32'
# r = requests.get(url)
# data = r.json()

# print(len(data))

In [45]:
from alpha_vantage.timeseries import TimeSeries
ts = TimeSeries(key, output_format='pandas')

# Get json object with the intraday data and another with  the call's metadata
data, meta_data = ts.get_intraday('GOOGL')

In [46]:
data.info

<bound method DataFrame.info of                      1. open  2. high  3. low  4. close  5. volume
date
2023-08-18 19:45:00  127.460  127.630  127.46   127.550     3238.0
2023-08-18 19:30:00  127.410  127.510  127.36   127.460     1880.0
2023-08-18 19:15:00  127.360  127.480  127.36   127.400      402.0
2023-08-18 19:00:00  127.410  127.480  127.33   127.480      932.0
2023-08-18 18:45:00  127.435  127.490  127.41   127.480     2951.0
...                      ...      ...     ...       ...        ...
2023-08-17 12:00:00  131.210  131.355  130.88   131.280   839590.0
2023-08-17 11:45:00  130.950  131.300  130.71   131.200  1021825.0
2023-08-17 11:30:00  130.720  130.950  130.45   130.950   771563.0
2023-08-17 11:15:00  130.380  131.230  130.37   130.740  1170731.0
2023-08-17 11:00:00  130.310  130.730  130.27   130.385   966978.0

[100 rows x 5 columns]>

In [47]:
#Every minute of data
data1, meta_data1 = ts.get_intraday(symbol='GOOGL',interval='1min', outputsize='full')

In [48]:
data1

                     1. open  2. high   3. low  4. close  5. volume
date
2023-08-18 19:59:00  127.500  127.630  127.500   127.550      331.0
2023-08-18 19:58:00  127.530  127.555  127.505   127.555      412.0
2023-08-18 19:57:00  127.630  127.630  127.520   127.570      175.0
2023-08-18 19:56:00  127.600  127.600  127.540   127.540        2.0
2023-08-18 19:55:00  127.545  127.630  127.500   127.500      129.0
...                      ...      ...      ...       ...        ...
2023-07-21 04:04:00  120.240  120.240  120.240   120.240       90.0
2023-07-21 04:03:00  120.230  120.240  120.040   120.040       65.0
2023-07-21 04:02:00  120.260  120.260  120.030   120.240       38.0
2023-07-21 04:01:00  120.270  120.470  119.920   119.920    11058.0
2023-07-21 04:00:00  120.240  120.270  119.970   120.150      403.0

[19358 rows x 5 columns]

In [49]:
import pandas as pd

In [61]:
meta_data

{'1. Information': 'Intraday (15min) open, high, low, close prices and volume',
 '2. Symbol': 'GOOGL',
 '3. Last Refreshed': '2023-08-18 19:45:00',
 '4. Interval': '15min',
 '5. Output Size': 'Compact',
 '6. Time Zone': 'US/Eastern'}

In [62]:
# Extract metadata
meta_data
metadata_df = pd.DataFrame.from_dict(meta_data, orient='index', columns=['Value'])

In [63]:
metadata_df

                                                               Value
1. Information     Intraday (15min) open, high, low, close prices...
2. Symbol                                                      GOOGL
3. Last Refreshed                                2023-08-18 19:45:00
4. Interval                                                    15min
5. Output Size                                               Compact
6. Time Zone                                              US/Eastern

In [66]:
# Convert columns to appropriate data types
numeric_columns = ['1. open', '2. high', '3. low', '4. close', '5. volume']
time_series_df[numeric_columns] = time_series_df[numeric_columns].apply(pd.to_numeric)

# Print the DataFrames
print("Metadata DataFrame:")
print(metadata_df)

Metadata DataFrame:
                                                               Value
1. Information     Intraday (15min) open, high, low, close prices...
2. Symbol                                                      GOOGL
3. Last Refreshed                                2023-08-18 19:45:00
4. Interval                                                    15min
5. Output Size                                               Compact
6. Time Zone                                              US/Eastern

In [67]:
cols = ["open", "high", "low", "close", "volume"]

time_series_df.columns = cols

In [68]:
# Print the DataFrames
print("\nTime Series DataFrame:")
print(time_series_df)

Time Series DataFrame:
                       open     high     low    close  volume
Timestamp
2023-08-18 19:55:00  141.48  141.500  141.48  141.500      94
2023-08-18 19:40:00  141.30  141.300  141.30  141.300       7
2023-08-18 19:30:00  141.41  141.410  141.41  141.410       9
2023-08-18 19:20:00  141.41  141.410  141.41  141.410       6
2023-08-18 19:15:00  141.28  141.280  141.28  141.280       7
...                     ...      ...     ...      ...     ...
2023-08-18 10:30:00  140.34  140.540  140.31  140.480   37128
2023-08-18 10:25:00  140.63  140.640  140.32  140.360   44506
2023-08-18 10:20:00  140.56  140.680  140.56  140.640   29379
2023-08-18 10:15:00  140.63  140.670  140.52  140.600   32233
2023-08-18 10:10:00  140.65  140.705  140.54  140.631   36215

[100 rows x 5 columns]

In [69]:
metadata_df.shape

(6, 1)

In [70]:
time_series_df.shape

(100, 5)

In [72]:
data.info

<bound method DataFrame.info of                      1. open  2. high  3. low  4. close  5. volume
date
2023-08-18 19:45:00  127.460  127.630  127.46   127.550     3238.0
2023-08-18 19:30:00  127.410  127.510  127.36   127.460     1880.0
2023-08-18 19:15:00  127.360  127.480  127.36   127.400      402.0
2023-08-18 19:00:00  127.410  127.480  127.33   127.480      932.0
2023-08-18 18:45:00  127.435  127.490  127.41   127.480     2951.0
...                      ...      ...     ...       ...        ...
2023-08-17 12:00:00  131.210  131.355  130.88   131.280   839590.0
2023-08-17 11:45:00  130.950  131.300  130.71   131.200  1021825.0
2023-08-17 11:30:00  130.720  130.950  130.45   130.950   771563.0
2023-08-17 11:15:00  130.380  131.230  130.37   130.740  1170731.0
2023-08-17 11:00:00  130.310  130.730  130.27   130.385   966978.0

[100 rows x 5 columns]>

In [73]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 19358 entries, 2023-08-18 19:59:00 to 2023-07-21 04:00:00
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   1. open    19358 non-null  float64
 1   2. high    19358 non-null  float64
 2   3. low     19358 non-null  float64
 3   4. close   19358 non-null  float64
 4   5. volume  19358 non-null  float64
dtypes: float64(5)
memory usage: 907.4 KB

In [74]:
data1.shape

(19358, 5)