In [31]:
# pip install alpha_vantage

In [23]:
import requests
import pandas as pd
key = "4TDQ3TAK1A574B32"
from alpha_vantage.timeseries import TimeSeries
import datetime

# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
# url = 'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=IBM&interval=5min&apikey=4TDQ3TAK1A574B32'
# r = requests.get(url)
# data = r.json()

# print(len(data))

In [4]:
ts = TimeSeries(key, output_format='pandas')

#Every minute of data
data, meta_data = ts.get_intraday(symbol='GOOGL',interval='1min', outputsize='full')

In [5]:
data.info

<bound method DataFrame.info of                      1. open  2. high  3. low  4. close  5. volume
date
2023-08-22 19:59:00   129.02   129.04  128.90    128.92       18.0
2023-08-22 19:58:00   128.97   128.97  128.92    128.92       52.0
2023-08-22 19:57:00   129.05   129.08  128.92    128.97      573.0
2023-08-22 19:56:00   129.00   129.07  129.00    129.01      322.0
2023-08-22 19:55:00   129.04   129.04  129.00    129.00       85.0
...                      ...      ...     ...       ...        ...
2023-07-25 04:04:00   122.15   122.23  122.15    122.16      188.0
2023-07-25 04:03:00   122.20   122.20  122.15    122.15       54.0
2023-07-25 04:02:00   122.13   122.23  121.90    122.20     3187.0
2023-07-25 04:01:00   122.05   122.20  122.00    122.20     1198.0
2023-07-25 04:00:00   122.00   122.03  121.88    121.90     2428.0

[19304 rows x 5 columns]>

In [6]:
data.shape

(19304, 5)

In [7]:
meta_data

{'1. Information': 'Intraday (1min) open, high, low, close prices and volume',
 '2. Symbol': 'GOOGL',
 '3. Last Refreshed': '2023-08-22 19:59:00',
 '4. Interval': '1min',
 '5. Output Size': 'Full size',
 '6. Time Zone': 'US/Eastern'}

In [10]:
# Extract metadata
meta_data
metadata_df = pd.DataFrame.from_dict(meta_data, orient='index', columns=['Value'])

In [11]:
metadata_df

                                                               Value
1. Information     Intraday (1min) open, high, low, close prices ...
2. Symbol                                                      GOOGL
3. Last Refreshed                                2023-08-22 19:59:00
4. Interval                                                     1min
5. Output Size                                             Full size
6. Time Zone                                              US/Eastern

In [12]:
# Convert columns to appropriate data types
numeric_columns = ['1. open', '2. high', '3. low', '4. close', '5. volume']
data[numeric_columns] = data[numeric_columns].apply(pd.to_numeric)

# Print the DataFrames
print("Metadata DataFrame:")
print(metadata_df)

Metadata DataFrame:
                                                               Value
1. Information     Intraday (1min) open, high, low, close prices ...
2. Symbol                                                      GOOGL
3. Last Refreshed                                2023-08-22 19:59:00
4. Interval                                                     1min
5. Output Size                                             Full size
6. Time Zone                                              US/Eastern

In [13]:
cols = ["open", "high", "low", "close", "volume"]

data.columns = cols

In [68]:
# Print the DataFrames
print("\nTime Series DataFrame:")
print(time_series_df)

Time Series DataFrame:
                       open     high     low    close  volume
Timestamp
2023-08-18 19:55:00  141.48  141.500  141.48  141.500      94
2023-08-18 19:40:00  141.30  141.300  141.30  141.300       7
2023-08-18 19:30:00  141.41  141.410  141.41  141.410       9
2023-08-18 19:20:00  141.41  141.410  141.41  141.410       6
2023-08-18 19:15:00  141.28  141.280  141.28  141.280       7
...                     ...      ...     ...      ...     ...
2023-08-18 10:30:00  140.34  140.540  140.31  140.480   37128
2023-08-18 10:25:00  140.63  140.640  140.32  140.360   44506
2023-08-18 10:20:00  140.56  140.680  140.56  140.640   29379
2023-08-18 10:15:00  140.63  140.670  140.52  140.600   32233
2023-08-18 10:10:00  140.65  140.705  140.54  140.631   36215

[100 rows x 5 columns]

In [14]:
metadata_df.shape

(6, 1)

In [15]:
data.shape

(19304, 5)

In [73]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 19358 entries, 2023-08-18 19:59:00 to 2023-07-21 04:00:00
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   1. open    19358 non-null  float64
 1   2. high    19358 non-null  float64
 2   3. low     19358 non-null  float64
 3   4. close   19358 non-null  float64
 4   5. volume  19358 non-null  float64
dtypes: float64(5)
memory usage: 907.4 KB

In [74]:
data1.shape

(19358, 5)

In [16]:
data.head(5)

                       open    high     low   close  volume
date
2023-08-22 19:59:00  129.02  129.04  128.90  128.92    18.0
2023-08-22 19:58:00  128.97  128.97  128.92  128.92    52.0
2023-08-22 19:57:00  129.05  129.08  128.92  128.97   573.0
2023-08-22 19:56:00  129.00  129.07  129.00  129.01   322.0
2023-08-22 19:55:00  129.04  129.04  129.00  129.00    85.0

In [20]:
data = data.sort_values(by='date', ascending=True).copy()
data.head(5)

                       open    high     low   close  volume
date
2023-07-25 04:00:00  122.00  122.03  121.88  121.90  2428.0
2023-07-25 04:01:00  122.05  122.20  122.00  122.20  1198.0
2023-07-25 04:02:00  122.13  122.23  121.90  122.20  3187.0
2023-07-25 04:03:00  122.20  122.20  122.15  122.15    54.0
2023-07-25 04:04:00  122.15  122.23  122.15  122.16   188.0

In [21]:
data.tail(5)

                       open    high     low   close  volume
date
2023-08-22 19:55:00  129.04  129.04  129.00  129.00    85.0
2023-08-22 19:56:00  129.00  129.07  129.00  129.01   322.0
2023-08-22 19:57:00  129.05  129.08  128.92  128.97   573.0
2023-08-22 19:58:00  128.97  128.97  128.92  128.92    52.0
2023-08-22 19:59:00  129.02  129.04  128.90  128.92    18.0

In [29]:
data.columns

Index(['open', 'high', 'low', 'close', 'volume'], dtype='object')

In [30]:
data.index

DatetimeIndex(['2023-07-25 04:00:00', '2023-07-25 04:01:00',
               '2023-07-25 04:02:00', '2023-07-25 04:03:00',
               '2023-07-25 04:04:00', '2023-07-25 04:05:00',
               '2023-07-25 04:06:00', '2023-07-25 04:07:00',
               '2023-07-25 04:08:00', '2023-07-25 04:09:00',
               ...
               '2023-08-22 19:50:00', '2023-08-22 19:51:00',
               '2023-08-22 19:52:00', '2023-08-22 19:53:00',
               '2023-08-22 19:54:00', '2023-08-22 19:55:00',
               '2023-08-22 19:56:00', '2023-08-22 19:57:00',
               '2023-08-22 19:58:00', '2023-08-22 19:59:00'],
              dtype='datetime64[ns]', name='date', length=19304, freq=None)

In [32]:
# Reset the index and move it to a new column
data.reset_index(inplace=True)
data.rename(columns={"index": "DateTime"}, inplace=True)

In [40]:
# Extract components
data['day'] = data["date"].dt.day
data['year'] = data["date"].dt.year
data['month'] = data["date"].dt.month
data['hour'] = data["date"].dt.hour
data['minute'] = data["date"].dt.minute

In [42]:
data.tail(10)

,date,open,high,low,close,volume,day,year,month,hour,minute
19294,2023-08-22 19:50:00,129.14,129.140,129.10,129.10,13.0,22,2023,8,19,50
19295,2023-08-22 19:51:00,129.10,129.100,129.06,129.08,336.0,22,2023,8,19,51
19296,2023-08-22 19:52:00,129.08,129.120,129.08,129.10,38.0,22,2023,8,19,52
19297,2023-08-22 19:53:00,129.10,129.175,129.06,129.08,217.0,22,2023,8,19,53
19298,2023-08-22 19:54:00,129.04,129.040,129.04,129.04,1.0,22,2023,8,19,54
19299,2023-08-22 19:55:00,129.04,129.040,129.00,129.00,85.0,22,2023,8,19,55
19300,2023-08-22 19:56:00,129.00,129.070,129.00,129.01,322.0,22,2023,8,19,56
19301,2023-08-22 19:57:00,129.05,129.080,128.92,128.97,573.0,22,2023,8,19,57
19302,2023-08-22 19:58:00,128.97,128.970,128.92,128.92,52.0,22,2023,8,19,58
19303,2023-08-22 19:59:00,129.02,129.040,128.90,128.92,18.0,22,2023,8,19,59